body {
background-image: url("images/WatercolorPots.jpg");
font-family: Georgia, Times, serif;

}

nav li {
display: inline;
text-align: left;
margin-right: 30px;
}

#NavLinks {
background-color: red;
padding-left: 0px
}

.List {
padding: 0px
}